<h1>Welcome to split App</h1>

  <div class="">
    <%if @amount > 0%>
      <h1>You Total lent : <%=@amount%></h1>
    <%elsif @amount < 0%>
      <h1>You Total borrowed : <%=@amount.abs%></h1>
    <%end%>
  </div>

  <div class="">
    <%=@borrowing_hash%>
  </div>

<%=create_new_bill_button%>
